/*GERAL*/
body {
    background-image: url("../Situação de aprendizagem.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color:#fff;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
}

a {
    color: rgb(255, 162, 99);
}


h1 {
    text-align: center;
}


p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffecec;
}


#titulo {
    text-align: center;
}


#sub_titulo {
    text-align: center;
}

/*CADASTRO*/

.cadastro {
    background: rgba(110, 73, 49, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 25px;
    width: 600px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.form-control {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #ffffff !important;
    border-radius: 12px !important;
    border: none !important;
    padding: 10px !important;
}

/*LOGIN*/

.caixa {
    background: rgba(110, 73, 49, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 70px;
    border-radius: 25px;
    width: 450px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}


input::placeholder {
    color: #ffffff;
    opacity: 1;
}


button:hover {
    background-color: rgb(160, 95, 55);

}


button {
    display: block;
    margin: 20px auto;
    padding: 12px;
    background-color: rgb(184, 113, 71);
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    border-radius: 10px !important;
    text-align: center;
    border: none;
}


label {
    color: #ffffff;
    font-weight: 500;
}


input,
select,
textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
}

/*HOME*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.sidebar{
  width:250px;
  min-height:100vh;

  background:rgba(0,0,0,.6);
}

.menu{
  padding:12px;
  margin-bottom:10px;

  border-radius:10px;

  cursor:pointer;
  transition:.3s;
}

.menu:hover,
.active{
  background:rgba(255,255,255,.1);
}



.main{
  width:100%;
}



.card-box{
  padding:20px;

  border-radius:20px;

  background:rgba(0,0,0,.5);

  display:flex;
  align-items:center;
  gap:15px;
}



.box{
  border-radius:20px;

  background:rgba(0,0,0,.5);
}



#fixed{
    justify-content: flex-start;
}