body {
    background-color:rgb(126, 126, 49) ;
    font-family: Arial, sans-serif;
}

.cadastro{
    background: #ffecec;
    width: 90%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px  rgb(94, 93, 93);
    gap: 15px;
    
}

.caixa {
    background-color:white;
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    margin: 300px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
     border: 1px solid #ccc;
}

#titulo{
    text-align: center;
}

#sub_titulo{
    text-align: center;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    margin-top: 20px;
    padding: 8px;
    background-color:  rgb(184, 113, 71);
    color: #dfdfe9;;
    border: nono;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
    border-radius: 10px;
    
}